* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-color: #1ebfc1;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* ================common================ */
a {
  text-decoration: none;
}
.main-content {
  max-width: calc(100% - 48px);
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
.btn:hover {
  opacity: 0.7;
}
/* ==================================Header==================== */
.header {
  background: #fff;
}
.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0;
}
.nav ul {
  display: flex;
}

.nav a {
  font-weight: 400;
  font-size: 1.6rem;
  color: #2f3a3b;
  padding: 0 20px;
}
.nav a:hover,
.nav li.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}
.header .action {
  display: flex;
  align-items: center;
}
.header .Sign-Up-btn {
  display: inline-block;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #1ebfc1;
  border: 1px solid #1ebfc1;
  border-radius: 6px;
  min-width: 108px;
  line-height: 48px;
  transition: ease 0.25s;
}
.header .Sign-Up-btn:hover {
  background: #1ebfc1;
  color: #fff;
}
.header .action a:first-child {
  margin-right: 24px;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  color: #494949;
}

/* ===================Hero---======================== */
.hero-wrap .body {
  display: flex;
}
.hero-wrap {
  background: #fff;
  padding-bottom: 50px;
}
/* Hero left */
.hero-wrap .content-block {
  margin-top: 91px;
  width: 39%;
}
.hero-wrap .sup-title {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #767e7e;
}
.hero-wrap .title {
  margin-top: 18px;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.16;
  color: #0d1111;
}
.hero-wrap .desc {
  margin-top: 46px;
  width: 374px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #9da6a5;
}
.hero-wrap .icon {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.hero-wrap .icon a {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
}
.hero-wrap .btn {
  display: inline-block;
  background: #1ebfc1;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  text-align: center;
  min-width: 186px;
  line-height: 68px;
  transition: ease-in 0.2s;
}
.hero-wrap .btn:hover {
  background-color: #fff;
  color: #1ebfc1;
  border: 1px solid #1ebfc1;
}

.icon-play-blue {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hero right */
.hero-wrap .media-block {
  position: relative;
  padding-left: 136px;
  width: 61%;
}
.hero-wrap img.hero-img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}
.courses {
  display: flex;
  align-items: center;
  position: absolute;
  top: 149px;
  left: 115px;
  width: 157px;
  height: 75px;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
  border-radius: 18px;
}
.courses p {
  margin-left: 16px;
  width: 55px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}
.courses .wrap {
  position: relative;
}
.courses img {
  padding-left: 6px;
}
.courses span {
  position: absolute;
  bottom: 26px;
  left: 34px;
  background: #ffffff;
  border-radius: 4px;
  width: 28px;
  height: 4px;
}
.schedules {
  position: absolute;
  left: 100px;
  width: 124px;
  height: 132px;
  bottom: 46px;
  background: #ffffff;
  box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.schedules p {
  font-weight: 500;
  font-size: 1rem;
  color: #0d1111;
  text-align: center;
  margin-top: 16px;
}
.schedules .wrap {
  position: relative;
}
.schedules span.line-one {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
}
.schedules span.line-one-on {
  position: absolute;
  top: 16px;
  left: 25px;
  width: 39px;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
.schedules span.line-two {
  position: absolute;
  top: 36px;
  left: 25px;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
}
.schedules span.line-two-on {
  position: absolute;
  top: 36px;
  left: 25px;
  width: 51px;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
.schedules span.line-three {
  position: absolute;
  top: 56px;
  left: 25px;
  width: 74px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
}
.schedules span.line-three-on {
  position: absolute;
  top: 56px;
  left: 25px;
  width: 33px;
  height: 6px;
  background: #fb9899;
  border-radius: 3px;
}
.schedules span.line-four {
  position: absolute;
  top: 76px;
  left: 50px;
  width: 26px;
  height: 6px;
  background: #edf1f5;
  border-radius: 3px;
}
.active-students {
  position: absolute;
  width: 207px;
  height: 90px;
  right: 45px;
  bottom: 46px;
  background: #fefefd;
  box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
}
.active-students p {
  font-weight: 500;
  font-size: 1rem;
  color: #0d1111;
  text-align: center;
  margin-top: 16px;
}

.active-students .avatar-group {
  padding: 0 17px 35px 17px;
  align-items: center;
  display: flex;
  margin: 8px 0 0 24px;
}
.avatar-group .avatars {
  margin-left: -6px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-group .avatar-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -6px;
  background-color: #1ebfc1;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}
/* Features */
.features .body {
  width: 87%;
}
.features .body .info {
  margin-top: 18px;
  width: 577px;
}
.features .body .title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.33;
  color: #0d1111;
}

.features .body .desc {
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #767e7e;
}
.features .body .list-features {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-features .list .title {
  margin-top: 26px;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
  color: #0d1111;
}
.list-features .list .desc {
  width: 223px;
  height: 81px;
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.69;
  color: #9da6a5;
}
/* popular */
.popular {
  margin-top: 130px;
}
.popular .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .title {
  margin-top: 18px;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.34;
  color: #0d1111;
}
.popular .desc {
  margin-top: 19px;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #767e7e;
}
.popular a.view-courses {
  font-weight: 700;
  font-size: 1.4rem;
  text-decoration-line: underline;
  color: #1ebfc1;
}
/* popular courses */
.popular .popular-courses {
  display: flex;
  gap: 47px;
  margin-top: 79px;
}
.popular .courses-item1 {
  position: relative;
  flex: 1;
}
.popular .thumb {
  opacity: 0.65;
  border-radius: 8px;
  width: 359px;
  height: 393px;
}
.popular .info-courses {
  position: absolute;
  top: 340px;
  left: 16.5px;
  width: 325px;
  height: 195px;
  background: #ffffff;
  box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 1px 25px 29px 25px;
}
.popular .info-courses .title {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.1;
  color: #0d1111;
}
.popular .info-courses .monney {
  margin-top: 16px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767e7e;
}
.popular .info-courses .monney strong {
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
}
.popular .popular-courses .desc {
  margin-top: 6px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #9da6a5;
}
.popular .popular-courses .value {
  margin-top: 18px;
  display: flex;
}

.popular .value-1,
.value-2 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #9da6a5;
}
.popular .wrap-1,
.wrap-2 {
  display: flex;
  align-items: center;
}
.popular .value-1 {
  margin-left: 10px;
}
.popular .value-2 {
  margin-left: 10px;
}
.popular .dot {
  background: #1ebfc1;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}
.popular .wrap-2 .dot {
  margin-left: 10px;
}
.countdown {
  margin-top: 389px;
}
.countdown .achievements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 289px;
}
.countdown .achievements span {
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.5;
  text-align: center;
  color: #0d1111;
}
.countdown .achievements p {
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  color: #767e7e;
}
/* feedback */
.feedback {
  margin-top: 264px;
}
.feedback .info {
  display: flex;
  align-items: center;
}

.feedback .content {
  width: 40%;
}
.feedback .content blockquote {
  width: 419px;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #5d6564;
}
.feedback .content p.desc {
  margin-top: 33px;
  font-weight: 550;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #000000;
}
.feedback .content strong {
  color: #767e7e;
  font-weight: 400;
}
.feedback .content .icons {
  margin-top: 52px;
  display: flex;
}
.feedback .content .icon {
  width: 6px;
  height: 12px;
}
.feedback .content .icon-1 {
  width: 50px;
  height: 50px;
  background-color: #1ebfc1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback .content .icon-1:hover {
}
.feedback .content .icon-2 {
  margin-left: 30px;
  width: 50px;
  height: 50px;
  background-color: #1ebfc1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback .avatars {
  position: relative;
  background-color: #fb9899;
  width: 60%;
}
.feedback .avatars .avatar-main {
  position: absolute;
  top: -100px;
  left: 270px;
}
.feedback .avatars .avt2 {
  position: absolute;
  top: 200px;
  left: -250px;
}
.feedback .avatars .avt3 {
  position: absolute;
  bottom: -140px;
  left: 10px;
}
.feedback .avatars .avt4 {
  position: absolute;
  bottom: -130px;
  left: 270px;
}
.feedback .avatars .avt5 {
  position: absolute;
  top: -90px;
  left: 310px;
}
.feedback .avatars .avt6 {
  position: absolute;
  top: -120px;
  left: -200px;
}
.call-to-action {
  margin-top: 230px;
  padding: 76px 330px 88px 135px;
  background: #def6f5;
}
.call-to-action .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.call-to-action .info .title {
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1.5;
  color: #070707;
}
.call-to-action .info .desc {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #767e7e;
  margin-top: 18px;
}
.call-to-action .info .btn-cta {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  background: #2ac9bf;
  border-radius: 14px;
  padding: 20px 41px;
  transition: ease 0.2s;
}
.call-to-action .info .btn-cta:hover {
  background-color: #fff;
  color: #1ebfc1;
  border: 2px solid #1ebfc1;
}
/* footer */
.main-footer {
  width: 1440px;
}
.wrap-footer {
  display: flex;
  justify-content: space-between;
  padding: 131px 135px 157px;
}

.wrap-footer .title {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #2e2e2e;
}
.wrap-footer .column .list {
  margin-top: 25px;
}
.wrap-footer .column a {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #535353;
}

.wrap-footer .column .list-special {
  display: flex;
  align-items: center;
  margin-top: 25px;
  font-weight: 400;
  font-size: 1.6rem;
  color: #535353;
}

.wrap-footer .column .list-special .Instagram {
  margin-left: 8px;
}
.cpy-right {
  padding-bottom: 50px;
  font-weight: 400;
  font-size: 1.8rem;
  text-align: center;
  color: #b0b5b4;
}
